body {
  background-color: #2d2d2d;
  color: #ffffff;
}
.ingredients-container {
  display: none;
}
.show {
  display: block;
}
.meal-list-item{
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  padding: .3rem 1rem;
  margin-bottom: .3rem;
  border: 1px solid #3a3a3a;
  border-radius: .3rem;
}
.meal-list-item:hover{
  cursor: pointer;
  background-color: #3a3a3a;
}